<!-- Contact -->
<section class="contact" id="contact">
<div class="container">
  <div class="heading">
    <%= image_tag 'sep.png' %>
      <h2>Newsletter Sign Up</h2>
      <%= image_tag 'sep.png' %>
      <h3>Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.<br>
       Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.</h3>
  </div>
</div>
 <div class="container w960">
    <div class="row">
  <div class="done">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Your message has been sent. Thank you!
    </div>
  </div>
     <form method="post" action="contact.php" id="contactform">
        <input name="name" type="text" class="contact col-md-6" placeholder="Your Name *" >
        <input name="email" type="email" class="contact noMarr col-md-6" placeholder="E-mail address *" >
        <textarea name="comment" class="contact col-md-12" placeholder="Message *"></textarea>
        <input type="submit" id="submit" class="contact submit" value="Send message">
      </form>
    </div>
  </div>
</section>
<section class="contact" id="contact">
<div class="container">
  <div class="heading">
    <%= image_tag 'sep.png' %>
      <h2>Our Location</h2>
      <%= image_tag 'sep.png' %>
      <div>
        <p>Phone: (619) 940-7848
        <p>Location: 3803 Ray Street, San Diego, CA 92103</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="googleMap" style="width:300px;height:300px;"></p>
        </div>
      </div>
    </div>
  </div>
</section>
