<!--about us-->
<section class="aboutus" id="aboutus">
<div class="container">
  <div class="heading text-center">
    <%= image_tag 'sep.png' %>
    <h2>About Family Recipes</h2>
    <%= image_tag 'sep.png' %>
    <br>
    <br>
    <br>
    <h1>Families of the Week</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="papers text-center">
        <img src="http://wowthemes.net/demo/leroy/img/dummies/18.jpg" alt=""><br/>
        <a href="#"><b>Download my resume</b></a>
        <h4 class="notopmarg nobotmarg">Pletner</h4>
        <p>
          Pasta Lovers
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="papers text-center">
        <img src="http://wowthemes.net/demo/leroy/img/dummies/19.jpg" alt=""><br/>
        <a href="#"><b>Download my resume</b></a>
        <h4 class="notopmarg nobotmarg">Brysiewicz</h4>
        <p>
          Apple Pie Masters
        </p>
      </div>
    </div>
  </div>
</div>
</section>
