<!--footer-->
<section class="footer" id="footer">
<p class="text-center">
  <a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
</p>
<div class="container">
  <ul>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
  </ul>
  <p>
    &copy; 2015 Copyright Family Recipes Inc.<br>
  </p>
</div>
</section>
