<!--gallery-->
<section class="gallery" id="gallery">
  <div class="container">
    <div class="heading text-center">
      <%= image_tag 'sep.png' %>
      <h2>Tags Gallery</h2>
      <%= image_tag 'sep.png' %>
    </div>

    <div id="grid-gallery" class="grid-gallery">

        <section class="grid-wrap">
          <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
            <li>
              <figure>
                <div class="tag_image" id="tag_1_image"></div>
                <figcaption><h3 id="tag_1_title"></h3><p id="tag_1_ingredients"></p><br><br></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="tag_image" id="tag_2_image"></div>
                <figcaption><h3 id="tag_2_title"></h3><p id="tag_2_ingredients"></p><br><br></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="tag_image" id="tag_3_image"></div>
                <figcaption><h3 id="tag_3_title"></h3><p id="tag_3_ingredients"></p><br><br></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <div class="tag_image" id="tag_4_image"></div>
                <figcaption><h3 id="tag_4_title"></h3><p id="tag_4_ingredients"></p><br><br></figcaption>
              </figure>
            </li>
          </ul>
        </section><!-- // end small images -->

        <section class="slideshow">
          <ul>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/10.jpg" alt=""/>
                <figcaption><h3>Thundercats next level</h3><p>Portland nulla butcher ea XOXO, consequat Bushwick Pinterest elit twee pickled direct trade vero. </p></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/11.jpg" alt=""/>
                <figcaption><h3>Bushwick selvage synth</h3><p>Bicycle rights flannel Shoreditch, art party laboris Bushwick sriracha authentic chambray hella umami sed distillery master cleanse.</p></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/12.jpg" alt=""/>
                <figcaption><h3>Bottle wayfarers locavore</h3><p>Once there was a little asparagus, he was green and lonely.</p></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/13.jpg" alt=""/>
                <figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/14.jpg" alt=""/>
                <figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption>
              </figure>
            </li>
            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/15.jpg" alt=""/>
                <figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
              </figure>
            </li>

            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/16.jpg" alt=""/>
                <figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
              </figure>
            </li>

            <li>
              <figure>
                <img src="http://wowthemes.net/demo/leroy/img/dummies/17.jpg" alt=""/>
                <figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
              </figure>
            </li>
          </ul>
          <nav>
            <span class="icon nav-prev"></span>
            <span class="icon nav-next"></span>
            <span class="icon nav-close"></span>
          </nav>
          <div class="info-keys icon">Navigate with arrow keys</div>
        </section><!-- // end slideshow -->

      </div><!-- // grid-gallery -->
    </div>
</section>
