<!--header-->
	<header>
	<div class="banner row" id="banner">
		<div class="parallax text-center" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummy1.jpg);">
			<div class="parallax-pattern-overlay">
				<div class="container text-center" style="height:580px;padding-top:170px;">
					<%= image_tag "logo.png", :id => "site-title", :class => "wow fadeInDown" %>
					<h2 class="intro wow zoomIn" wow-data-delay="0.4s" wow-data-duration="0.9s">Family Recipes</h2>
					<div>
								<form action ="/tags/search" method="get">
									<label for="tag_search_input" class="white">Search by Tags </label>
									<input id="tag_search_input" class="search_input" type="text" name="search_string" />
									<input class="search" type="submit" value="Search" />
								</form>
					</div>
					<div>
								<form action ="/recipes/search_word" method="get">
									<label for="word_search_input" class="white">Search by Words</label>
									<input id="word_search_input" type="text" name="search_word" />
									<input class="search" class="search_input" type="submit" value="Search" />
								</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navwrapper">
					<div class="navbar navbar-inverse navbar-static-top">
						<div class="container">
							<div class="navArea">
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										<li class="menuItem active"><a href="#wrapper">Home</a></li>
										<li class="menuItem"><a href="#aboutus">About Us</a></li>
										<li class="menuItem"><a href="#specialties">Our Favorites</a></li>
										<li class="menuItem"><a href="#gallery">Tag Gallery</a></li>
										<li class="menuItem"><a href="#feedback">Feedback</a></li>
										<li class="menuItem"><a href="#contact">Newsletter</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</header>
