<!--specialties-->
<section class="specialties" id="specialties">
<div class="container">
  <div class="heading text-center">
    <%= image_tag 'sep.png' %>
    <h2>Our Favorites</h2>
    <%= image_tag 'sep.png' %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="restmenuwrap">
        <h3 class="maincat notopmarg text-center">APPETIZERS</h3>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/1.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/2.jpg)">
          </div>
          <h5>Luxur Oyster</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/3.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="restmenuwrap">
        <h3 class="maincat notopmarg text-center">MAIN</h3>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/4.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/5.jpg)">
          </div>
          <h5>Luxur Oyster</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/6.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="restmenuwrap">
        <h3 class="maincat notopmarg text-center">DESSERTS</h3>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/7.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/8.jpg)">
          </div>
          <h5>Luxur Oyster</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
        <div class="restitem clearfix">
          <div class="rm-thumb" style="background-image: url(http://wowthemes.net/demo/leroy/img/dummies/9.jpg)">
          </div>
          <h5>Sweet, Sticky and Spicy Chicken</h5>
          <p>
            Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
