<!-- header-->
<%= render 'header' %>


<div class="row">
  <div class="col-md-offset-5 col-md-3">
  <h1>Edit Recipe</h1>

  <%= render 'form' %>



  <%= link_to 'Show', @recipe %> |
  <%= link_to 'Back', recipes_path %>

  </div>
</div>
